/* 스마트폰에서 한 줄에 하나의 아이템만 보이도록  */
@media screen and (max-width: 480px) {
  .item {
    width: 100%;
  }
}

/* 태블릿에서 한 줄에 두 개의 아이템이 보이도록  */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .item {
    width: 50%;
  }
}

h1 {
  font-style: italic;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 50px;
  text-decoration:underline;
}

label {
  font-family: sans-serif;
  font-weight: bold;
  
}
 


@keyframes my-animation {
  0% { opacity: 0; transform: scale(0.8); }
  50% { opacity: 1; transform: scale(1.02); }
  100% { opacity: 1; transform: scale(1); }
}



.event-item {
  display: inline-block;
  width: 310px;
  height:100%;
  margin: 17px;
  padding: 10px;
  border: 1px solid #f7efef;
  border-radius: 5px;
  
  box-shadow: 6px 6px 6px #a5a1a1;
  animation: my-animation 1.5s ease-in-out;
}


.event-item h2 {
  margin-bottom: 10px;
  font-size: 21px;
  height: 55px; /* 제목의 높이를 50px로 지정 */
  line-height: 30px; /* 행 간격을 50px로 지정 */
  font-family:arial;
}
/* .event-item h2 {
  margin-bottom: 10px;

} */

.event-item img {
  max-width: 100%;
  height: 390px;
  object-fit:cover;
  margin-bottom: 8px;
 
}

.event-item p {
  margin: 0;
  font-size: 15px;
  font-family:sans-serif;
  height:36px;
  
  
 
 
}
select {
  
  padding: 6px;
  border-radius: 5px;
  border: 2px solid #04385a;
  background-color: rgb(249, 250, 255);
  font-size: 12px;
  color: #535252;
  width:200px;
  margin-bottom: 20px;
 
}

/* 활성화된 상태에서의 스타일 */
select:focus {
  border-color: #4b89ff;
  outline: none;
}
